<% provide(:title, "一覧") %>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3 style="text-align: center;">投稿履歴</h3>
        <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron", style="border: 5px double skyblue">
  <h1><%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px",class: 'image-line'),
                      "https://railsguides.jp/getting_started.html" ,target: :_blank%>勉強会</h1>

  <h2 class="line-set">
    Rails勉強会とはRailsを勉強し始めた方や、Railsが好きな方、RubyやRailsを学びたい方が自分の考えや学習記録をアウトプットするための学習コミュニティーアプリケーションです！みんなでレベルアップをしましょう！！
  </h2>

  <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

  <%= will_paginate @all_posts,params: { controller: :static_pages,action: :index } , previous_label: '&lt 前へ', next_label: '次へ &gt'%>
    <h3 style="text-align: center;">投稿一覧</h3>
    <% @all_posts.each do |post| %>
      <div class="col-md-8">
            <ol class="posts">
              <%= render post %>
            </ol>
        </div>
    <% end %>

  <%= will_paginate @all_posts,params: { controller: :static_pages,action: :index } , previous_label: '&lt 前へ', next_label: '次へ &gt'%>

<% end %>
