<% provide(:title, "ログイン") %>
<h2>ログインページ</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email,autofocus: true,class: 'from-control' %>
        </div>

        <div class="field">
          <%= f.label "パスワード" %><br />
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン",class: "btn btn-primary" %>
        </div>
      <% end %>

      <p>新規登録しますか？<%= link_to "新規登録はこちら！", new_user_registration_path %></p>
    </div>
  </div>
